<div class="circle-graph" data-circle-graph data-percent="50">
    <div class="circle-graph-progress">
        <div class="circle-graph-progress-fill"></div>
    </div>
    <div class="circle-graph-percents">
        <div class="circle-graph-percents-wrapper">
            <span class="circle-graph-percents-number"></span>
            <span class="circle-graph-percents-units">of 100</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns text-center"><br>
       <a class="button button-icon-badge" routerLink="../map">
      <span class="button-icon-badge-text">GOING SOMEWHERE?</span>
    <i class="fi-arrow-right"></i>
      </a>
    </div>
</div>


<div class="row">
    <div class="twelve columns text-center"><br>
       <a class="button button-icon-badge" data-open="settings-modal">
      <span class="button-icon-badge-text">REDUCE YOUR CARBON FOOTPRINT</span>
    <i class="fi-arrow-right"></i>
</a>
    </div>
</div>

<div class="reveal" id="settings-modal" data-reveal>
<br>
<button type="button" class="button expanded">Lorem ipsum dolor sit amet, ei vis quod mollis dolorum</button>
<button type="button" class="button expanded">Lorem ipsum dolor sit amet, ei vis quod mollis dolorum</button>
<button type="button" class="button expanded">Lorem ipsum dolor sit amet, ei vis quod mollis dolorum</button>
<button type="button" class="button expanded">Lorem ipsum dolor sit amet, ei vis quod mollis dolorum</button>
<button type="button" class="button expanded">Lorem ipsum dolor sit amet, ei vis quod mollis dolorum</button>
<button type="button" class="button expanded">Lorem ipsum dolor sit amet, ei vis quod mollis dolorum</button>

<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--<p><button class="button" data-open="settings-modal">Click me for a modal</button></p> -->
